@import "src/common/styles/sass/mixins.scss";
@import "src/common/styles/sass/variables.scss";

.skill_block {
  max-width: 400px;
  border: 1px solid #474747;
  padding: 60px 48px;
  border-radius: 12px;
  margin-bottom: 24px;
  text-align: center;
  flex-direction: column;
  @include flex(flex, center, center);
  .icon_box {
    font-size: 36px;
    color: $primaryColor;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    width: 90px;
    height: 90px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    position: relative;
    .icons {
      position: absolute;
      left: 20px;
      top: 20px;
      width: 50px;
      color: #ffffff;
    }

  }
  h3 {
    color: $headerTextColor;
    margin-bottom: 20px;
    @include fontFamily($headerFontFamily, 600, 28px, 1.2);
  }
  .skill_description {
    color: $paragraphTextColor;

    @include fontFamily($textFontFamily, 400, 18px, 1.5);
  }
}





