@import 'src/common/styles/sass/variables';
@import 'src/common/styles/sass/mixins';

.projectsBlock {
  &:hover:after {
    opacity: 1;
  }
  min-height: 100vh;
  padding: 100px 0;
  background-color: $bgColor;
  position: relative;
  .projectsContainer {
    @include container();
    @include flex(flex, flex-start, null, column);
    flex-wrap: nowrap;
    .projects {
      @include flex(flex,space-between, flex-start);
      gap: 20px;
      flex-wrap: wrap;
      @media screen and (max-width: 1230px) {
        justify-content: center;
      }
    }
  }

  }
  .design_element {
    .de_project1 {
      position: absolute;
      left: 3%;
      top: 35%;
    }
    .de_project2 {
      position: absolute;
      right: 5%;
      bottom: -2%;
      z-index: 2;
    }
    .elem_updown {
      @include updown_anim;
    }
    @media screen and (max-width: 1230px) {
      display: none;
    }
  }


