.projectsBlock {
    height: 100vh;
    background-color: lightsalmon;
}

.projectsContainer {
    flex-direction: column;
    justify-content: flex-start;
}

.projects {
    gap: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    border: 1px solid red;

}


@media (max-width: 650px) and (max-height: 900px) {
    .projects {
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        width: 100%;
        border: 1px solid red;

    }

}