@import "src/common/styles/sass/variables.scss";
@import 'src/common/styles/sass/mixins';

.hireMeBlock {
    height: 30vh;
    background-color: #2a2a2a;
    .hireMeContainer {
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 40px;
        h2 {
            color: $headerTextColor;
            line-height: 1;
            font-size: 24px;
            text-transform: uppercase;
            margin: 0;
        }
        button {
            padding: 15px 42px;
            background: #009e66;
            border-radius: 5px;
            text-transform: uppercase;
            text-decoration: none;
            border: none;
            @include fontFamily($headerFontFamily, 700, 18px, 1.5, #fff);
            &:hover {
                transition: 0.2s;
                background: rgba($primaryColor, 0.7);
                cursor: pointer;
            }
        }
    }

}




