@import "src/common/styles/sass/variables.scss";
@import 'src/common/styles/sass/mixins';

.hireMeBlock {
    height: 30vh;
    background-color: $bgSecondColor;
    .hireMeContainer {
        text-align: center;
        @include flex(flex, center, center, column);
        gap: 40px;
        h2 {
            color: $headerTextColor;
            line-height: 1;
            font-size: 24px;
            text-transform: uppercase;
            margin: 0;
        }
        button {
            padding: 15px 42px;
            background: $primaryColor;
            border-radius: 5px;
            text-transform: uppercase;
            text-decoration: none;
            border: none;
            @include fontFamily($headerFontFamily, 700, 18px, 1.5, #fff);
            &:hover {
                transition: 0.2s;
                background: rgba($primaryColor, 0.7);
                cursor: pointer;
            }
        }
    }

}




