.socialsLinks {
    gap: 30px;
    display: flex;
    justify-content: space-between;
}
.socialsLinks div:hover svg {
    fill: #009e66;
}


.fbIcon {
    width: 20px;
}
.linkedinIcon, .whatsappIcon, .telegramIcon {
    width: 30px;
}

.socialsLinks .fbIcon:hover svg {
    fill: #009e66 !important;
}
