@import 'src/common/styles/sass/variables';
@import 'src/common/styles/sass/mixins';


.main_block {

  min-height: 100vh;
  padding: 200px 0;
  //background: url("/src/assets/image/bgAnotherGreen.png") no-repeat center center;
  background-color: #003731;
  background-size: cover;
  color: #fff;
  position: relative;
  z-index: 1;
  .design_element {
    .de_main1 {
      left: 8%;
      top: 22%;
      position: absolute;
    }
    .de_main2 {
      right: 7%;
      top: 20%;
      position: absolute;
    }
    .de_main3 {
      right: 5%;
      bottom: 12%;
      position: absolute;
    }
    .de_main4 {
      left: 48%;
      top: 30%;
      position: absolute;
    }
    .de_main5 {
      left: 10%;
      bottom: 18%;
      position: absolute;
    }
    .elem_updown {
      @include updown_anim;
    }

    .elem_move {
      @include move_anim;
    }
  }
}

.main_container {
  @include container();
  width: 80%;
  gap: 30px;


  h1 {
    font-family: 'Poppins', sans-serif;
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-weight: 700;
    line-height: 1.2;
    font-size: calc((100vw - 360px) / (1400 - 360) * (90 - 60) + 60px);

    .small {
      font-size: 24px;
      margin-bottom: 12px;
    }

    .strong {
      color: #009e66;
    }

  }

  p {
    font-size: calc((100vw - 360px) / (1400 - 360) * (24 - 19) + 19px);
    color: #b0aac0;
  }

  .photo {
    width: 100%;
    max-width: 500px;
    border-radius: 5%;
  }

  .button_container {
    display: flex;
    align-items: center;
    gap: 40px;
    margin-top: 60px;
  }

}

@media screen and (max-width: 1230px) {
  .design_element {
    display: none;
  }
  .button_container {
    justify-content: center;
    flex-wrap: wrap;
  }
  .main_container {
    flex-direction: column-reverse;
  }
}