

.skillsBlock {
    min-height: 100vh;
    padding: 100px 0;
    background-color: #2a2a2a;
}



.skillsContainer {
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: nowrap;
}


.skills {
    gap: 20px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}



@media screen and (max-width: 1230px) {
    .skills {
        justify-content: center;
    }
}
