.projectBlock {
    width: 300px;
    background-color: antiquewhite;
}

.projectImage {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 200px;
    background-image: url("https://placehold.co/300x200");
}
