.header {
    position: fixed;
display: flex;
    align-items: center;
    justify-content: center;

    height: 80px;
    width: 100%;

    background-color: #222222;
    z-index: 2;
}


.header_container {

    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header_container img {
    width: 80px;
}

.nav_list {
    color: #009e66;

    width: 100%;
    min-width: 500px;
    list-style-type: none;
    display: flex;
    justify-content: space-between;




}

img {
    display: flex;

    width: 100px;
}

.nav_list a {

    font-size: 18px;
    color: #fff;
    text-transform: capitalize;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    text-decoration: none;
}

.nav_list a:hover {
    transition: 0.4s;
    color: #009e66;
}
