.footerBlock {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #fff;
    min-height: 25vh;
    background-color: #2a2a2a;
    display: flex;
    align-items: center;

}



.footerContainer {
    display: flex;
gap: 40px;
}

.footer_title {
    display: flex;
    text-align: center;
    flex-direction: column;
    gap: 10px;
}

