@mixin flex($flex, $justify-content: null, $align-items: null, $direction: null) {
  display: $flex;
  justify-content: $justify-content;
  align-items: $align-items;
  flex-direction: $direction;
}

@mixin fontFamily($family: null, $weight: null, $size: null, $lineHeight: null, $color: null, $decoration: null, $transform: null) {
  font-family: $family;
  font-weight: $weight;
  font-size: $size;
  line-height: $lineHeight;
  color: $color;
  text-decoration: $decoration;
  text-transform: $transform;
}

@mixin container() {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;

  margin: 0 auto;

  width: 80%;
  height: 100%;
}

@mixin updown_anim() {

  animation: anim_updown 5s infinite;

  @keyframes anim_updown {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(30px);
    }
    100% {
      transform: translateY(0);
    }
  }
}

@mixin move_anim() {

  animation: anim_move 5s infinite;

  @keyframes anim_move {
    0% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(30px);
    }
    100% {
      transform: translateX(0);
    }
  }
}