$headerTextColor: #fff;
$primaryColor: #009e66;
$paragraphTextColor: #b0aac0;
$bgColor: #222222;
$bgSecondColor: #2a2a2a;
$headerFontFamily: 'Poppins', sans-serif;
$textFontFamily: 'Open Sans', sans-serif;

