.contactsBlock {
    height: 60vh;
    background-color: lightcoral;
}
.contactsContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 50px;
}
.contactsFormContainer {
    width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    gap: 5px;

    border: 1px solid lime;
}


@media (max-width: 650px) and (max-height: 900px){

    .contactsFormContainer {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: stretch;
        gap: 5px;

        border: 1px solid lime;
    }
}
