@import 'src/common/styles/sass/variables';
@import 'src/common/styles/sass/mixins';


.contactsBlock {
  min-height: 100vh;
  padding: 100px 0;
  background-color: #222222;

  .contactsContainer {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;

    .contacts_row {
     
      display: flex;
      justify-content: space-evenly;
      flex-wrap: wrap;
      gap: 50px;

      font-family: 'Open Sans', sans-serif;
      font-size: 18px;
      color: #b0aac0;
      width: 100%;
      margin-bottom: 30px;


      .contact_block {
        display: flex;
        justify-content: space-between;

        address {
          font-style: normal;
        }

        h4 {
          font-family: 'Poppins', sans-serif;
          font-size: 1.5rem;
          color: #fff;
          margin-bottom: 0.5rem;
          font-weight: 700;
          line-height: 1.2;
        }
        &:hover {
          transition: 0.2s;
          color: #009e66;
        }

        .icon_box {
          width: 60px;
          height: 60px;
          border-radius: 50%;
          background: #009e66;
          line-height: 60px;
          text-align: center;
          color: #fff;
          margin-right: 24px;
          font-size: 24px;
        }
      }
    }

    .form_row {

      width: 100%;
      display: flex;
      justify-content: space-evenly;
      flex-wrap: wrap;
      gap: 10px;
      margin-bottom: 60px;

      .contactsFormContainer {
        width: 100%;
        max-width: 600px;
      }

      h3 {
        font-size: 36px;
        margin-bottom: 28px;
        color: #fff;

      }

      .from_control {
        display: flex;
        gap: 15px;

        .form_input {
          border: 1px solid #606060;
          background: #2a2a2a;
          color: #b0aac0;
          font-size: 16px;
          padding: 16px 18px;
          flex: 1 1 auto;
          width: 1%;

          border-radius: 4px;

          //&:active {
          // border-color: #009e66;
          //}

          //&::placeholder {
          //  font-size: 16px;
          //  font-weight: 400;
          //  line-height: 1.5;
          //
          //}

        }
      }

      .form_textarea {
        font-family: 'Open Sans', sans-serif;
        margin-top: 15px;
        margin-bottom: 15px;
        border: 1px solid #606060;
        background: #2a2a2a;
        color: #b0aac0;
        font-size: 16px;
        display: block;
        width: 100%;
        min-height: 183px;
        padding: 12px 18px;
        border-radius: 4px;
        appearance: none;
        resize: vertical;

        &::placeholder {
          font-size: 16px;
          font-weight: 400;
          line-height: 1.5;

        }
      }

      .submitBtn {
        padding: 15px 42px;
        background: #009e66;
        border-radius: 5px;
        text-transform: uppercase;
        text-decoration: none;
        border: none;
        font-family: 'Poppins', sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 1.5;
        color: #fff;

        &:hover {
          transition: 0.2s;
          background: rgba($primaryColor, 0.7);
          cursor: pointer;
        }
      }
    }

  }
}




@media screen and (max-width: 1230px) {


  .contacts_row {
    flex-direction: column;

  }

  .contact_block {
    justify-content: flex-start !important;

  }


}













