.contactsBlock {
    height: 60vh;
    background-color: lightcoral;
}
.contactsContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    gap: 50px;
}
.contactsFormContainer {
  width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    gap: 5px;

    border: 1px solid lime;
}

.contactsFormContainer input, .contactsFormContainer textarea {
    width: 100%;
}

.submitBtn {
    align-self: center;
    padding: 0 10px;
}


@media screen and (max-width: 750px) {

    .contactsFormContainer {
        width: 100%;
    }
}
