@import 'src/common/styles/sass/variables';
@import 'src/common/styles/sass/mixins';


.contactsBlock {
  min-height: 100vh;
  padding: 100px 0;
  background-color: $bgColor;
  position: relative;

  .contactsContainer {
    @include container();
    @include flex(flex, null, null, column);
    flex-wrap: nowrap;

    .contacts_row {
      @include flex(flex, space-evenly);
      @include fontFamily($textFontFamily, null, 18px, null, $paragraphTextColor);
      flex-wrap: wrap;
      gap: 50px;
      width: 100%;
      margin-bottom: 30px;

      .contact_block {
        @include flex(flex, space-between);

        address {
          font-style: normal;
        }

        h4 {
          @include fontFamily($headerFontFamily, 700, 1.5rem, 1.2, #fff);
          margin-bottom: 0.5rem;
        }

        &:hover {
          transition: 0.2s;
          color: $primaryColor;
        }

        .icon_box {
          width: 60px;
          height: 60px;
          border-radius: 50%;
          background: $primaryColor;
          line-height: 60px;
          text-align: center;
          color: #fff;
          margin-right: 24px;
          font-size: 24px;
          position: relative;

          .icons {
            position: absolute;
            left: 15px;
            top: 15px;
            width: 30px;
            color: #fff;
          }

        }
      }
    }

    .form_row {
      @include flex(flex, center);
      width: 100%;
      flex-wrap: wrap;
      gap: 70px;
      margin-bottom: 60px;

      .map {
        width: 100%;
        max-width: 600px;
        cursor: grab;
        border-radius: 10px;
        overflow: hidden;
      }

      .contactsFormContainer {
        width: 100%;
        max-width: 600px;
      }

      h3 {
        font-size: 36px;
        margin-bottom: 28px;
        color: #fff;

      }

      textarea {
        &:focus {
          outline: none !important;
          border: 1px solid $primaryColor !important;
        }
      }

      .form_control {
        display: flex;
        gap: 15px;


        .form_input {
          border: 1px solid #606060;
          background: $bgSecondColor;
          color: $paragraphTextColor;
          font-size: 16px;
          padding: 16px 18px;
          flex: 1 1 auto;
          width: 1%;

          border-radius: 4px;

          &:focus {
            outline: none !important;
            border: 1px solid $primaryColor !important;
          }
        }
      }

      .form_textarea {
        @include fontFamily($textFontFamily, null, 16px, 1.5, $paragraphTextColor);
        display: block;
        width: 100%;
        margin-top: 15px;
        margin-bottom: 15px;
        padding: 12px 18px;
        border: 1px solid #606060;
        background: $bgSecondColor;
        min-height: 183px;
        border-radius: 4px;
        appearance: none;
        resize: vertical;
      }
    }

  }

  .design_element {
    .de_contacts1 {
      position: absolute;
      right: 7%;
      top: 12%;
    }

    .de_contacts2 {
      position: absolute;
      left: 4%;
      bottom: -2%;
      z-index: 1;
    }

    .de_contacts3 {
      position: absolute;
      left: 4%;
      top: 20%;
      z-index: 1;
    }

    .elem_updown {
      @include updown_anim;
    }
  }
}


@media screen and (max-width: 1230px) {
  .design_element {
    display: none;
  }
  .form_row {
    margin-top: 30px;
    gap: 40px !important;
  }
  .contacts_row {
    max-width: 600px;
    flex-direction: column;;
  }
  .contact_block {
    justify-content: flex-start !important;
  }
}













