@import 'src/common/styles/sass/variables';
@import 'src/common/styles/sass/mixins';

.about_block {
  min-height: 100vh;
  padding: 100px 0;
  background-color: #222222;
  position: relative;
.about_container {
  @include container();
  .content_row {
    @include flex(flex, space-around);
    gap: 100px;
    .tilt {
      transition: transform 0.3s ease;
    }
    .image_block img {
      border-radius: 5%;
      width: 400px;
    }
    .content_block {
      width: 100%;
      max-width: 700px;
      h2 {
        font-size: 48px;
        margin-bottom: 30px;
        color: #fff;
        span {
          display: block;
          font-size: 18px;
          text-transform: uppercase;
          color: $primaryColor
        }
      }
      .about_par {
        @include fontFamily($textFontFamily, 500, 18px, 1.5, $paragraphTextColor);
        margin-bottom: 1rem;
      }
    }
    .personal_info_block {
      display: flex;
      flex-wrap: wrap;
      margin-top: 36px;
      margin-bottom: 36px;
      @include fontFamily($textFontFamily, 500, 18px, 1.2, $paragraphTextColor);
      .personal_info_list {
        width: 50%;
      }
      ul {
        list-style-type: none;
        li {
          padding-bottom: 20px;
        }
      }
      h4 {
        font-size: 16px;
        margin-bottom: 4px;
        text-transform: uppercase;
        @include fontFamily($textFontFamily, 600, 18px, 1.2, #fff);
      }
    }
  }
}
}

.design_element {
  .de_about1 {
    position: absolute;
    left: 5%;
    top: 10%;
  }
  .de_about2 {
    position: absolute;
    right: 10%;
    top: 40%;
  }
  .de_about3 {
    position: absolute;
    left: 15%;
    bottom: 10%;
  }
  .elem_updown {
    @include updown_anim;
  }
}

@media screen and (max-width: 1230px) {
  .design_element {
    display: none;
  }
  .content_row {
    flex-direction: column;
    align-items: center;

  }
  .personal_info_block {
    flex-direction: column;
  }

  .content_block h2 {
    font-size: 35px !important;
  }

}















